In [2]:
import mysql.connector
from sqlalchemy import create_engine
from sqlalchemy.exc import SQLAlchemyError
import time
import pandas as pd

db_name = "project2"
class P2_data_sparkling:
    def __init__(self,db_name):
        self.db_name = db_name
    def connect_to_mysql(self):
        try:
            self.con = mysql.connector.connect(
                host="localhost",
                user="root",
                password="123456789"
            )
            self.cursor = self.con.cursor()
            time.sleep(2)
        except Exception as e:
            print(f"error at connect_to_mysql")
            print(f"error is {e}")
        #self.check_for_db()
    def check_for_db(self):
        try:
            
            query = f"create database if not exists {self.db_name}"  #-> to create   keep this
            self.cursor.execute(query) # -> keep this
            time.sleep(1)
            query = f"USE {self.db_name}"
            self.cursor.execute(query)
            
        except Exception as e:
            print(f"error at check_for_db")
            print(f"error is {e}")
        #self.create_table_in_mysql()
    
    def create_table_in_mysql(self):
        try:
            query = """create table if not exists Customers( CustomerKey int PRIMARY KEY,
                                            Gender char(10),
                                            City varchar(60),
                                            State varchar(60),
                                            Country varchar(60),
                                            Birthday date
                                            
                                                                            
                         )"""
            self.cursor.execute(query);
            
            query = """create table if not exists Exchange_Rate(Date date,
                                            Currency char(10),
                                            Exchange decimal(10,4)
                                            )"""
            self.cursor.execute(query);
            
            query = """create table if not exists Products(ProductKey int PRIMARY KEY,
                                            ProductName varchar(100),
                                            Brand varchar(30),
                                            Color varchar(20),
                                            UnitCostUSD decimal(10, 2),
                                            UnitPriceUSD decimal(10, 2),
                                            SubcategoryKey int,
                                            CategoryKey int,
                                            Category varchar(60)
                                            
                         )"""
            self.cursor.execute(query);
            
            query = """create table if not exists Stores(
                                            StoreKey int  PRIMARY KEY,
                                            Country varchar(30),
                                            State varchar(30),
                                            OpenDate date
                        )"""
            self.cursor.execute(query);
            
            query = """create table if not exists Sales(OrderNumber int,
                                            LineItem int,
                                            OrderDate date,
                                            CustomerKey int,
                                            StoreKey int,
                                            ProductKey int,
                                            Quantity int,
                                            CurrencyCode char(10),
                                            OrderLineItem VARCHAR(255),
                                            FOREIGN KEY (CustomerKey) REFERENCES Customers(CustomerKey),
                                            FOREIGN KEY (StoreKey) REFERENCES Stores(StoreKey),
                                            FOREIGN KEY (ProductKey) REFERENCES Products(ProductKey)
                                            
                         )"""
            self.cursor.execute(query);
        except Exception as e:
            print(f"-----create_table_in_mysql---------")
            print(f" error is {e}")


    def copy_values_from_csv_to_mysql(self):
        try:
            self.engine = create_engine(f'mysql+pymysql://root:123456789@localhost:3306/{self.db_name}')

            Sales = pd.read_csv('Sales.csv',encoding = 'iso-8859-1')
            Sales.rename(columns={
                'Order Number': 'OrderNumber',
                'Line Item': 'LineItem',
                'Order Date' : 'OrderDate',
                'Currency Code' : 'CurrencyCode'
            }, inplace=True)
            if 'Delivery Date' in Sales.columns:
                Sales.drop(['Delivery Date'],axis = 1,inplace=True)
            Sales['OrderDate'] = pd.to_datetime(Sales['OrderDate'], format='%m/%d/%Y', errors='coerce')
            Sales['OrderDate'] = Sales['OrderDate'].dt.strftime('%Y-%m-%d')
            Sales['OrderLineItem'] = Sales['OrderNumber'].astype(str) + '_' + Sales['LineItem'].astype(str)
            #Sales.to_csv('Sales.csv', index=False)
            try:
                Sales.to_sql('sales', con=self.engine, if_exists='replace', index=False)
                print("Sales data inserted successfully")
            except SQLAlchemyError as e:
                    print(f"Error: {e}")
            
            Customer = pd.read_csv('Customers.csv',encoding = 'iso-8859-1')
            Customer = Customer.fillna('N')
            Customer = Customer.drop(['Continent','Name','State Code','Zip Code'],axis = 1)
            Customer['Birthday'] = pd.to_datetime(Customer['Birthday'], format='%m/%d/%Y', errors='coerce')
            Customer['Birthday'] = Customer['Birthday'].dt.strftime('%Y-%m-%d')
            try:
                Customer.to_sql('customers', con=self.engine, if_exists='replace', index=False)
                print("Customer data inserted successfully")
            except SQLAlchemyError as e:
                    print(f"CUSTOMERS issue")
                    print(f"Error: {e}")
            
            Products = pd.read_csv('Products.csv',encoding = 'iso-8859-1')
            Products.rename(columns={
                'Product Name': 'ProductName',
                'Unit Cost USD': 'UnitCostUSD',
                'Unit Price USD': 'UnitPriceUSD'
            }, inplace=True)
            if 'Subcategory' in Products.columns:
                Products = Products.drop(['Subcategory'],axis = 1)
            Products['UnitCostUSD'] = Products['UnitCostUSD'].astype(str).str.replace(',', '', regex=False)
            Products['UnitCostUSD'] = Products['UnitCostUSD'].astype(str).str.replace('$', '', regex=False).str.strip()
            Products['UnitCostUSD'] = pd.to_numeric(Products['UnitCostUSD'])
            Products['UnitPriceUSD'] = Products['UnitPriceUSD'].astype(str).str.replace(',', '', regex=False)
            Products['UnitPriceUSD'] = Products['UnitPriceUSD'].astype(str).str.replace('$', '', regex=False).str.strip()
            Products['UnitPriceUSD'] = pd.to_numeric(Products['UnitPriceUSD'])
            #Products.to_csv('Products.csv', index=False)
            try:
                Products.to_sql('products', con=self.engine, if_exists='replace', index=False)
                print("Products data inserted successfully")
            except SQLAlchemyError as e:
                    print(f"Error: {e}")
            
            Stores = pd.read_csv('Stores.csv',encoding = 'iso-8859-1')
            Stores.rename(columns={
                'Open Date': 'OpenDate'
            }, inplace=True)
            Stores = Stores.dropna() 
            Stores.drop(['Square Meters'],axis = 1,inplace=True)
            Stores['OpenDate'] = pd.to_datetime(Stores['OpenDate'], format='%m/%d/%Y', errors='coerce')
            # Ensure the 'Date' column is formatted as '%m-%d-%Y' before saving back to CSV
            Stores['OpenDate'] = Stores['OpenDate'].dt.strftime('%Y-%m-%d')
            try:
                Stores.to_sql('stores', con=self.engine, if_exists='replace', index=False)
                print("Stores data inserted successfully")
            except SQLAlchemyError as e:
                    print(f"Error: {e}")
            
            Exchange = pd.read_csv('Exchange_Rates.csv',encoding = 'iso-8859-1')
            Exchange['Date'] = pd.to_datetime(Exchange['Date'], format='%m/%d/%Y', errors='coerce')
            # Ensure the 'Date' column is formatted as '%m-%d-%Y' before saving back to CSV
            Exchange['Date'] = Exchange['Date'].dt.strftime('%Y-%m-%d')
            #Exchange.to_csv('Exchange_Rates.csv', index=False)
            try:
                Exchange.to_sql('exchange_rate', con=self.engine, if_exists='replace', index=False)
                print("Excahange Rate data inserted successfully")
            except SQLAlchemyError as e:
                    print(f"Error: {e}")
            
           
        except Exception as e:
            print(f"error at copy_values_from_csv_to_mysql")
            print(f"error is {e}")

        


project_2 = P2_data_sparkling(db_name)
project_2.connect_to_mysql()
project_2.check_for_db()
project_2.create_table_in_mysql()
project_2.copy_values_from_csv_to_mysql()

Sales data inserted successfully
Customer data inserted successfully
Products data inserted successfully
Stores data inserted successfully
Excahange Rate data inserted successfully